.active{
    color: rgb(190 18 60);
}
.active::after{
    background-color: rgb(190 18 60);
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    transition: 0.2s all;
}
li:hover .a-hover {
    color: rgb(190, 18, 60);
}

.a-hover::after {
    background-color: rgb(190, 18, 60);
    content: "";
    display: block;
    width: 0; 
    height: 3px;
    transition: width 0.3s ease; 
}

@keyframes slideIn {
    from {
        width: 0;
    }
    to {
        width: 100%; 
    }
}

li:hover .a-hover::after {
    animation: slideIn 0.3s forwards; 
}

.shop-effect{
    clip-path: polygon(0 0, 92% 0, 27% 100%, 0% 100%);
    width: 100%;
    height: 100%;
}
.bg-img{
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.text-gray-300.mb-2:hover{
    color: rgb(190 18 60);
    transition: all .5s;
}
.cards-container,.cards-container2 {
    display: flex;
    flex-wrap: nowrap; 
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.cards-container,.cards-container2::-webkit-scrollbar {
    display: none; 
}
